#### G·ªôp Vietnam Airlines v√† Vietjet Air v√† G·ªôp 3 h√£ng th√†nh 1

In [2]:
import pandas as pd
import os

# C√†i ƒë·∫∑t hi·ªÉn th·ªã ƒë·∫πp
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)
pd.set_option('display.max_colwidth', None)

# ƒê∆∞·ªùng d·∫´n th∆∞ m·ª•c ch·ª©a file
RAW_PATH = "D:\\E\\raw_data"

def load_and_prepare(files, drop_airline=False, drop_is_duplicate=False):
    dfs = []
    for file in files:
        df = pd.read_csv(os.path.join(RAW_PATH, file))
        df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
        
        if drop_airline and "airline" in df.columns:
            df.drop(columns="airline", inplace=True)
        if drop_is_duplicate and "is_duplicate" in df.columns:
            df.drop(columns="is_duplicate", inplace=True)
        
        dfs.append(df)
    return pd.concat(dfs, ignore_index=True)

# 1. Vietjet: xo√° airline & is_duplicate
df_vietjet = load_and_prepare(["vietjet_1.csv", "vietjet_2.csv"],
                              drop_airline=True, drop_is_duplicate=True)

# 2. Vietnam Airlines: xo√° airline
df_vnairlines = load_and_prepare(["VNairlines_1_1.csv", "VNairlines_2_2.csv"],
                                 drop_airline=True)

# 3. Bamboo: gi·ªØ nguy√™n ho√†n to√†n
df_bamboo = load_and_prepare(["BambooAirway.csv"])

# G·ªôp t·∫•t c·∫£
df_all = pd.concat([df_vietjet, df_vnairlines, df_bamboo], ignore_index=True)

# Xem k·∫øt qu·∫£
print("T·ªïng s·ªë d√≤ng sau khi g·ªôp:", len(df_all))
print(df_all.head(10))

T·ªïng s·ªë d√≤ng sau khi g·ªôp: 2255788
                     source.name        date    route                        flight_id origin destination fare_class fare_code     price_vnd          taxes departure_time arrival_time booking_class  \
0  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ568-DLIDAD-2025-1-01-1450    DLI         DAD        EL1   QPXVNWS  1.860040e+06  572426.357322            NaN          NaN             Z
1  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ886-DLIDAD-2025-1-01-1450    DLI         DAD        EC1     ZVNWP  1.929579e+06  577492.077298            NaN          NaN             Z
2  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ430-DLIDAD-2025-1-01-1450    DLI         DAD        EF1     ZVNWP  2.148786e+06  594070.797220            NaN          NaN             Z
3  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ180-DLIDAD-2025-1-01-1450    DLI         DAD        DC1     ZVNWP  2.222009e+06  599136.517197            NaN          NaN             Z
4  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ376-DLIDAD-2025-1-01-1450    DLI         DAD        DF1     ZVNWP  2.470690e+06  617557.317110            NaN          NaN             Z
5  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ256-DLIDAD-2025-1-01-1450    DLI         DAD        BC1     IVNWP  3.104365e+06  664530.356891            NaN          NaN             I
6  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ465-DLIDAD-2025-1-01-1450    DLI         DAD        BF1     CVNWP  3.800672e+06  716108.596649            NaN          NaN             C
7  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ966-DLIDAD-2025-1-01-1450    DLI         DAD        EL1     CVNWP  2.467466e+06  617557.317110            NaN          NaN             T
8  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ874-DLIDAD-2025-1-01-1450    DLI         DAD        EC1     CVNWP  2.706476e+06  635057.077029            NaN          NaN             L
9  DLI-DAD_01-06-25_31-12-25.csv  2025-06-13  DLI_DAD  SEG-VJ006-DLIDAD-2025-1-01-1450    DLI         DAD        EF1     CVNWP  2.822527e+06  643806.956988            NaN          NaN             M

        cabin  quota status service_code    fare_conditions operating_airline_code operating_airline_name
0  ecoPremium    2.0     HK  FBA4-C0FMC2  PEN19,PEN20,PEN21                     VJ            Vietjet Air
1  ecoPremium    2.0     HK  FBA4-C0FMC2  PEN16,PEN17,PEN18                     VJ            Vietjet Air
2  ecoPremium    2.0     HK  FBA4-C0FMC2  PEN22,PEN23,PEN24                     VJ            Vietjet Air
3  ecoPremium    2.0     HK  FBA4-C0FMC2  PEN28,PEN29,PEN30                     VJ            Vietjet Air
4  ecoPremium    2.0     HK  FBA4-C0FMC2  PEN22,PEN23,PEN24                     VJ            Vietjet Air
5    business    8.0     HK  FBA4-C0FMC2  PEN43,PEN44,PEN45                     VJ            Vietjet Air
6    business    9.0     HK  FBA4-C0FMC2  PEN52,PEN53,PEN54                     VJ            Vietjet Air
7         eco    9.0     HK  FBA3-C0GOC1  PEN31,PEN32,PEN33                     VJ            Vietjet Air
8         eco    9.0     HK  FBA3-C0GOC1  PEN13,PEN14,PEN15                     VJ            Vietjet Air
9         eco    9.0     HK  FBA3-C0GOC1  PEN34,PEN35,PEN36                     VJ            Vietjet Air

In [3]:
# Ki·ªÉm tra c√≥ bao nhi√™u h√£ng bay 
unique_airlines = df_all['operating_airline_name'].dropna().unique()
print("S·ªë l∆∞·ª£ng h√£ng bay duy nh·∫•t trong 'operating_airline_name':", len(unique_airlines))
print("üõ´ Danh s√°ch c√°c h√£ng bay:")
print(unique_airlines)

S·ªë l∆∞·ª£ng h√£ng bay duy nh·∫•t trong 'operating_airline_name': 3
üõ´ Danh s√°ch c√°c h√£ng bay:
['Vietjet Air' 'VietNam Airlines' 'BAMBOO AIRWAYS']

### L·ªçc gi·ªØ l·∫°i c√°c c·ªôt c·∫ßn thi·∫øt

In [4]:
df_all.drop(columns=['source.name', 'departure_time', 'arrival_time', 'status'], inplace=True)
print("ƒê√£ x√≥a c√°c c·ªôt: source.name, departure_time, arrival_time, status kh·ªèi df_all.")

ƒê√£ x√≥a c√°c c·ªôt: source.name, departure_time, arrival_time, status kh·ªèi df_all.

In [6]:

print("üßæ C√°c c·ªôt hi·ªán c√≥ trong df_all:")
print(df_all.columns.tolist())

üßæ C√°c c·ªôt hi·ªán c√≥ trong df_all:
['date', 'route', 'flight_id', 'origin', 'destination', 'fare_class', 'fare_code', 'price_vnd', 'taxes', 'booking_class', 'cabin', 'quota', 'service_code', 'fare_conditions', 'operating_airline_code', 'operating_airline_name']

In [7]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2255788 entries, 0 to 2255787
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   date                    object
 1   route                   object
 2   flight_id               object
 3   origin                  object
 4   destination             object
 5   fare_class              object
 6   fare_code               object
 7   price_vnd               float64
 8   taxes                   float64
 9   booking_class           object
 10  cabin                   object
 11  quota                   float64
 12  service_code            object
 13  fare_conditions         object
 14  operating_airline_code  object
 15  operating_airline_name  object
dtypes: float64(3), object(13)
memory usage: 275.4+ MB

In [8]:
# √âp ki·ªÉu c·ªôt date v·ªÅ datetime
df_all['date'] = pd.to_datetime(df_all['date'], errors='coerce')

In [9]:
# T·∫°o c·ªôt gi·ªù
df_all['hour'] = df_all['date'].dt.hour

# T·∫°o c·ªôt "kho·∫£ng th·ªùi gian bay"
def get_time_slot(hour):
    if 5 <= hour < 12:
        return 'S√°ng'
    elif 12 <= hour < 17:
        return 'Chi·ªÅu'
    elif 17 <= hour < 21:
        return 'T·ªëi'
    else:
        return 'ƒê√™m'

df_all['time_slot'] = df_all['hour'].apply(get_time_slot)

In [10]:
# S·ªë chuy·∫øn bay t·ªïng c·ªông
print("T·ªïng s·ªë chuy·∫øn bay:", len(df_all))

# S·ªë chuy·∫øn theo h√£ng
print("\nS·ªë chuy·∫øn theo h√£ng:")
print(df_all['operating_airline_name'].value_counts())

# Th·ªëng k√™ gi√° v√©
print("\nTh·ªëng k√™ gi√° v√© (price_vnd):")
print(df_all['price_vnd'].describe())

T·ªïng s·ªë chuy·∫øn bay: 2255788

S·ªë chuy·∫øn theo h√£ng:
operating_airline_name
VietNam Airlines    1164507
Vietjet Air         1067108
BAMBOO AIRWAYS        23790
Name: count, dtype: int64

Th·ªëng k√™ gi√° v√© (price_vnd):
count    2.255405e+06
mean     4.644202e+06
std      3.051185e+06
min      4.107838e+05
25%      2.448000e+06
50%      3.849000e+06
75%      5.996006e+06
max      1.592100e+07
Name: price_vnd, dtype: float64

In [11]:
# ƒê·∫£m b·∫£o date ƒë√£ ƒë√∫ng ki·ªÉu datetime
df_all['date'] = pd.to_datetime(df_all['date'], errors='coerce')

# Th√™m c√°c c·ªôt th·ªùi gian
df_all['month'] = df_all['date'].dt.month
df_all['weekday'] = df_all['date'].dt.day_name()
df_all['week'] = df_all['date'].dt.isocalendar().week

In [12]:
print("\nGi√° v√© trung b√¨nh theo th√°ng:")
print(df_all.groupby('month')['price_vnd'].mean().round(0))

Gi√° v√© trung b√¨nh theo th√°ng:
month
1.0     3344166.0
2.0     3995363.0
3.0     3406687.0
4.0     3349370.0
5.0     3333594.0
6.0     2652879.0
7.0     2562875.0
8.0     2564037.0
9.0     2571280.0
10.0    2608576.0
11.0    2665188.0
12.0    2673173.0
Name: price_vnd, dtype: float64

In [13]:
print("\nGi√° v√© trung b√¨nh theo ng√†y trong tu·∫ßn:")
print(df_all.groupby('weekday')['price_vnd'].mean().round(0))

Gi√° v√© trung b√¨nh theo ng√†y trong tu·∫ßn:
weekday
Friday       2833743.0
Monday       2790339.0
Saturday     2788286.0
Sunday       2881056.0
Thursday     2775568.0
Tuesday      2736647.0
Wednesday    2728504.0
Name: price_vnd, dtype: float64

In [14]:
print("\nGi√° v√© trung b√¨nh theo tu·∫ßn:")
print(df_all.groupby('week')['price_vnd'].mean().round(0))

Gi√° v√© trung b√¨nh theo tu·∫ßn:
week
1     2943236.0
2     3299986.0
3     3376702.0
4     3371631.0
5     3617389.0
6     3925365.0
7     3920435.0
8     4287099.0
9     3997641.0
10    3448884.0
11    3369223.0
12    3372469.0
13    3368340.0
14    3347177.0
15    3346089.0
16    3346985.0
17    3351993.0
18    3355261.0
19    3348176.0
20    3348420.0
21    3332054.0
22    2920749.0
23    2633707.0
24    2690329.0
25    2671333.0
26    2610581.0
27    2574673.0
28    2576106.0
29    2568302.0
30    2555714.0
31    2557170.0
32    2584649.0
33    2524901.0
34    2515611.0
35    2624998.0
36    2663373.0
37    2546230.0
38    2556816.0
39    2543321.0
40    2588707.0
41    2589535.0
42    2602873.0
43    2614807.0
44    2654876.0
45    2658449.0
46    2660212.0
47    2668809.0
48    2656397.0
49    2671626.0
50    2661428.0
51    2673795.0
52    2672254.0
Name: price_vnd, dtype: float64